body {
    text-align: center;
  }
  
  .inp {
    font-size: 48px;
    padding: 20px;
    border: 1px solid black;
  }
  
  .draggable {
    height: 100px;
    width: 100px;
    border: 1px solid black;
  }
  
  .moveable {
    position: fixed;
  }