.hidden {
    display: none;
}
.nav-item {
    background-color: whitesmoke
}
.center {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .heart {
    position: relative;
    width: 36px;
    height: 36px;
  }
  
  .heart-icon {
    cursor: pointer;
  }
  
  .animation-container {
    width: 200%;
    height: 200%;
    pointer-events: none;
  }
  
  .lines line {
    stroke: red;
    stroke-width: 5px;
  }
  
  .active .heart-icon {
    fill: red;
    animation: beat .3s ease-out;
  }
  
  .active .ring {
    transition: transform .5s ease-in-out;
    transform-origin: 50% 50%;
    transform: scale(10);
  } 
  
  @keyframes beat {
    50% {
      transform: scale(.7);
    }
  
    100% {
      transform: scale(1);
    }
  }
  